.forms__container {
  max-width: 800px;
  margin: 16px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-gap: 20px 25px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.forms__nav {
  max-width: 800px;
  margin: 0 auto;
}

.forms {
  margin: 30px 0;
}

.forms__nav-button {
  background-color: #000;
  color: #fff;
  border: none;
  display: flex;
  width: 250px;
  padding: 10px 20px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;

  font-family: Figtree;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  transition: all 0.3 ease-in-out;
}

.forms__nav-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  .forms__container {
    max-width: 90%;
  }
}
