.forms {
  max-width: 800px;
  margin: 36px auto 0;
}

.forms__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-gap: 20px 25px;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.forms__nav {
  /* display: flex;
  flex-direction: column; */
  /* margin-left: 30px; */
  position: absolute;
  left: 30px;
  max-width: 250px;
}

.forms__nav-button {
  background: transparent url(../images/Frame\ 21.svg) center no-repeat;
  border-style: none;
  width: 250px;
  height: 40px;
  padding: 0;
}

.forms__nav-button:hover {
  cursor: pointer;
}
