.form {
  width: 250px;
  display: flex;
  flex-direction: column;
  border: solid;
  border-color: black;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
}

.form__header {
  display: grid;
  grid-template-areas:
    "title trash"
    "date .";
  max-width: 210px;
}

.form__title {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  height: 20px;
  width: 107px;
  margin-bottom: 5px;
  padding: 0;
  grid-area: title;
  border-style: none;
  padding: 2px;
}

.form__title::placeholder {
  color: black;
}

.form__date {
  height: 20px;
  grid-area: date;
  border-style: none;
}

.form__delete-button {
  background: url(../images/trash-2.svg) center no-repeat;
  border-style: none;
  height: 20px;
  width: 20px;
  grid-area: trash;
  margin-left: auto;
}

.form__task-input {
  margin-top: 16px;
  padding: 4px;
  height: 20px;
}

.form__task-input::placeholder {
  color: #525252;
  background-color: white;
}
