.forms__container {
  max-width: 800px;
  margin: 36px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-gap: 20px 25px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.forms__nav {
  max-width: 250px;
  margin: 0 auto 20px;
}

.forms__nav-button {
  background: transparent url(../images/Frame\ 21.svg) center no-repeat;
  border-style: none;
  width: 250px;
  height: 40px;
  padding: 0;
}

.forms__nav-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .forms__container {
    max-width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .main__header {
    width: 80%;
  }

  .forms {
    margin-top: 30px;
  }
}
