.form {
  border: 1px solid black;
  border-radius: 8px;
}

.form__container {
  width: 250px;
  display: flex;
  flex-direction: column;

  padding: 20px;
  box-sizing: border-box;
}

.form__header {
  display: grid;
  grid-template-areas:
    "title trash"
    "date .";
  max-width: 210px;
}

.form__title {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  height: 20px;
  max-width: 170px;
  margin-bottom: 5px;
  padding: 0;
  grid-area: title;
  border-style: none;
  padding: 2px;
  background-color: transparent;
  text-overflow: ellipsis;
}

.form__title::placeholder {
  color: black;
}

.form__title:focus,
.form__date:focus,
.form__title:hover,
.form__date:hover {
  background-color: #fff;
  outline: none;
  cursor: pointer;
}

.form__title:focus,
.form__date:focus {
  cursor: auto;
}

.form__date {
  height: 20px;
  grid-area: date;
  border-style: none;
  background-color: transparent;
  max-width: 130px;
}

.form__delete-button {
  background: none;
  background-image: url(../images/trash-2.svg);
  border-style: none;
  height: 20px;
  width: 20px;
  grid-area: trash;
  margin-left: auto;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.form__delete-button,
.form__date,
.form__title {
  transition: all 0.3s ease;
}

.form__delete-button:hover {
  background: #fff;
  background-image: url(../images/trash-2.svg);
}

.form__delete-button:hover {
  cursor: pointer;
}

.form__task-input {
  margin-top: 16px;
  padding: 4px;
  height: 20px;
  border: none;
}

.form__task-input:focus {
  outline: #fff solid 1px;
}

.form__task-input::placeholder {
  background-color: white;
}

.form__checkbox-input {
  accent-color: #000;
}

.form__checkbox-input:checked + .form__checkbox-label {
  text-decoration: line-through;
}

.form__list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}

.form__checkbox {
  display: flex;
  gap: 6px;
}

.form__checkbox-input {
  margin: 0;
}

.form__checkbox-label {
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@media screen and (max-width: 860px) {
  .form__container {
    width: 240px;
  }
}

@media screen and (max-width: 500px) {
  .form__container {
    width: 100%;
  }

  .form__header {
    width: 100%;
    max-width: none;
  }
}
