.form {
  display: flex;
  flex-direction: column;
  border: solid;
  border-color: black;
  border-radius: 8px;
  padding: 20px;
}

.form__title {
  font-family: "Figtree";
  font-style: normal;
  height: 20px;
  margin-bottom: 5px;
}

.form__date {
  height: 20px;
}

.form__task-input {
  margin-top: 16px;
  height: 20px;
}
