.main__header {
  font-family: "Figtree";
  font-weight: 400;
  margin-top: 143px;
  height: 50px;
}

.main__info-text {
  display: flex;
  justify-content: flex-end;
  font-family: "Figtree";
}

.main__weather-text {
  display: flex;
  justify-content: flex-end;
}
