.main {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.main__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin: 60px auto 30px;
}

.main__header-text {
  font-family: "Figtree";
  font-weight: 600;
  font-size: 42px;
  margin: 0;
}

.main__info-text {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.main__weather-text {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.main__info-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-family: "Figtree";
  font-weight: 500;
  font-size: 20px;
}

.main__info-weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}
@media screen and (max-width: 800px) {
  .main__header {
    padding: 0 20px;
  }
}

@media screen and (max-width: 500px) {
  .main__header {
    flex-direction: column;
    align-items: flex-start;
  }
  .main__header-text {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 30px;
  }
  .main__info-container {
    gap: 15px;
  }
  .main__info-text {
    font-size: 16px;
  }
  .main__weather-text {
    font-size: 16px;
  }
}
