.main__header {
    font-family: 'Figtree';
    font-weight: 400;
    margin-top: 143px;
    height: 50px;
    display: flex;
    ;
}


.main__info-text {
    display: flex;
    flex-direction: row;
    font-family: 'Figtree';
}