/* .nav {
  /* display: flex;
  flex-direction: column; */
/* margin-left: 30px;
  position: absolute;
  left: 30px;
}

.nav__button {
  background: transparent url(../images/Frame\ 21.svg) center no-repeat;
  border-style: none;
  width: 250px;
  height: 40px;
} */
