.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgba(255, 232, 195, 1) 0%,
    rgba(189, 255, 191, 1) 36%,
    rgba(243, 228, 247, 1) 63%,
    rgba(237, 187, 180, 1) 100%
  );
  margin: 0 auto;
}
